.skills-main-div {
  display: flex;
  overflow: hidden;
}

.skills-header {
  font-size: 20px;
  font-family: "Google Sans Regular";
  text-align: center;
}
.skills-header-div{
  text-align:center;
}
.skills-text {
  font-size: 20px;
}

.skills-text-div {
  margin-left: 50px;
  font-family: "Google Sans Regular";
}

.skills-main-div > * {
  flex: 1;
  margin-bottom: 30px;
}

.skills-image-div > * {
  max-width: 100%;
  height: auto;
  margin-top: 100px;
}

.skills-heading {
  font-size: 56px;
  font-weight: 400;
  font-family: "Google Sans Regular";
  line-height: normal;
}
.skill-button{
  font-size: 13px;
    letter-spacing: 1px;
    font-weight: 700;
    color: rgb(16, 110, 234);
    display: inline-block;
    text-transform: uppercase;
    padding: 8px 20px;
    margin: 0px;
    background: rgb(231, 241, 253);
    border-radius: 50px;
}
/* Media Query */
@media (max-width: 1380px) {
  .skills-heading {
    font-size: 30px;
  }
  .skills-header {
    font-size:25px;
    font-weight:lighter;
  }
  /* .skills-image-div > img {
    margin-top: 0px;
  } */
}
@media (max-width: 768px) {
  .skills-heading {
    font-size: 16x;
    text-align: center;
  }
  .skills-header {
    font-size: 16px;
  }
  .greeting-text-p {
    font-size: 16px;
    line-height: normal;
  }
  .skills-main-div {
    flex-direction: column;
  }
  .skills-text-div {
    margin-left: 0px;
    margin: 20px;
  }
  .skills-text {
    font-size: 16px;
  }
  .skills-text-subtitle {
    font-size: 16px;
    text-align: center;
  }
  .skills-image-div {
    /* display: none; */
    order: 2;
  }
  .skills-image-div > * {
    margin-top: 0px;
  }
}
