.footer-text {
	display: flex;
	align-items: center;
	gap: 8px;
	justify-content: center;
	/* color: #868e96; */
	font-size: 16px;
	padding: 1rem;
	background-color: rgba(14, 107, 168, 0.467);
	font-family: "Google Sans Regular";
}

.footer-div {
	margin-top: 2rem;
}

@media (max-width: 768px) {
	.footer-text {
		font-weight: normal;
		font-size: 14px;
	}
	.footer-div {
		margin-top: 1rem;
	}
}
