.experience-accord {
	margin: 20px 0px;
	padding: 0 80px;
}

.accord-panel {
	font-family: "Google Sans Regular";
}

@media (max-width: 768px) {
	.experience-accord {
		margin: 20px 0px;
		padding: 0 25px;
	}
}
